Options All -Indexes

<IfModule mod_rewrite.c>

RewriteEngine On
# 404 test -- file/folder exists?
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?(.*) http://at.dawncoffee.com [R=302]

</IfModule>